{% extends 'main.html' %}

{% block content %}
    {% if page == 'login' %}
        <div>
            <form action="{% url 'base:login' %}" method="POST">
                {% csrf_token %}
                <label for="username">Username: </label>
                <input type="text" name="username" placeholder="Enter username">
                <label for="password">Password: </label>
                <input type="password" name="password" placeholder="Enter password">
                <input type="submit" value="Log in">
            </form>
            <p>Haven't signed up yet?</p>
            <a href="{% url 'base:register' %}">Sign up</a>
        </div>
    {% else %}    
        <div>
            <form action="{% url 'base:register' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Register">
            </form>
            <p>Already have an account?</p>
            <a href="{% url 'base:login' %}">Log in</a>
        </div>
    {% endif %}

{% endblock %}